<nz-root>

    <div class="card-outer">
      <nz-card class="card-class">
        <ng-template #title>
          <h4>预约记录 ( {{months_record}} 个月之内)</h4>
        </ng-template>
        <ng-template #body>

          <nz-table #nzTable
                    [nzAjaxData]="userReservations"
                    [nzPageSize]="10"
                    [nzShowTotal]="true"
                    [nzLoading]="_loading"
                    [nzTotal]="_total"
                    [(nzPageIndex)]="_current"
                    (nzPageIndexChange)="_refreshData()"
          >
            <thead nz-thead>
            <tr>
              <th nz-th>
            <span>
              仪器编号
            </span>
              </th>
              <th nz-th>
            <span>
              开始时间
              <nz-table-sort [(nzValue)]="ageSort" (nzValueChange)="ageSortChange($event)"></nz-table-sort>
            </span>
              </th>
              <th nz-th><span>结束时间</span></th>
            </tr>
            </thead>
            <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let userReservation of nzTable.data">
              <td nz-td>
                <a [routerLink]="['/instrument/instrument-detail',userReservation.instrument]">{{userReservation.instrument}}</a>
              </td>
              <td nz-td>{{userReservation.start_time | date:'short'}}</td>
              <td nz-td>{{userReservation.end_time | date:'short'}}</td>
            </tr>
            </tbody>
          </nz-table>


        </ng-template>
      </nz-card>

      <nz-card class="card-class">
        <ng-template #title>
          <h4>使用记录 ( {{months_record}} 个月之内)</h4>
        </ng-template>
        <ng-template #body>
          <nz-table #nzTable
                    [nzAjaxData]="userRecords"
                    [nzPageSize]="10"
                    [nzShowTotal]="true"
                    [nzLoading]="_loading2"
                    [nzTotal]="_total2"
                    [(nzPageIndex)]="_current2"
                    (nzPageIndexChange)="_refreshData2()"
          >
            <thead nz-thead>
            <tr>
              <th nz-th>
            <span>
              仪器编号
            </span>
              </th>
              <th nz-th>
            <span>
              开始时间
              <nz-table-sort [(nzValue)]="ageSort" (nzValueChange)="ageSortChange2($event)"></nz-table-sort>
            </span>
              </th>
              <th nz-th><span>结束时间</span></th>
            </tr>
            </thead>
            <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let userRecord of nzTable.data">
              <td nz-td>
                <a [routerLink]="['/instrument/instrument-detail',userRecord.instrument]">{{userRecord.instrument}}</a>
              </td>
              <td nz-td>{{userRecord.start_time | date:'short'}}</td>
              <td nz-td>{{userRecord.end_time | date:'short'}}</td>
            </tr>
            </tbody>
          </nz-table>
        </ng-template>
      </nz-card>

    </div>



</nz-root>
