<nz-root>
  <div class="container-fluid">
    <div class="col-lg-4" *ngFor="let instrument of instrumentList">
      <app-instrument-card
        [instrument]="instrument"
        [admins]="admins"
      >
      </app-instrument-card>
    </div>
  </div>
  <hr />
  <div *ngIf="meta?.total_results" class="pagination-class">
    <nz-pagination
      [nzPageIndex]="meta?.page"
      [(nzPageSize)]="_pageSize"
      (nzPageSizeChange)="getInstrumentListByDepartment(departmentId,$event)"
      (nzPageIndexClickChange)="getInstrumentListByDepartment(departmentId,$event)"
      [nzTotal]="meta?.total_results"
      nzShowTotal
    >
    </nz-pagination>
  </div>

  <!--<div *ngIf="_total" class="col-lg-offset-4 col-lg-5">-->
    <!--<nz-pagination-->
      <!--[(nzPageIndex)]="_current"-->
      <!--[nzPageSize]="3"-->
      <!--(nzPageIndexChange)="getInstrumentListByDepartment()"-->
      <!--[nzTotal]="_total"-->
      <!--nzShowTotal-->
    <!--&gt;-->
    <!--</nz-pagination>-->
  <!--</div>-->
</nz-root>
