<nz-root>

  <div *ngIf="currentUser; else signinFormBlock">
    <p>欢迎登录联合院系统</p>
  </div>
  <ng-template #signinFormBlock>

    <h4>欢迎登录使用TJAB仪器管理平台</h4>
    <hr>

    <form nz-form [formGroup]="signInForm" class="login-form" (ngSubmit)="signIn()">
      <div nz-form-item nz-row>
        <div nz-form-control nzHasFeedback [nzValidateStatus]="signInForm.controls.username">
          <nz-input formControlName="username" [nzPlaceHolder]="'用户名'" [nzSize]="'large'">
            <ng-template #prefix>
              <i class="anticon anticon-user"></i>
            </ng-template>
          </nz-input>
          <div nz-form-explain *ngIf="signInForm.controls.username.dirty&&signInForm.controls.username.hasError('required')">请输入您的用户名!</div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-control nzHasFeedback [nzValidateStatus]="signInForm.controls.password">
          <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'密码'" [nzSize]="'large'">
            <ng-template #prefix>
              <i class="anticon anticon-lock"></i>
            </ng-template>
          </nz-input>
          <div nz-form-explain *ngIf="signInForm.controls.password.dirty&&signInForm.controls.password.hasError('required')">请输入您的密码!</div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-control>
          <!--<label nz-checkbox formControlName="remember">-->
            <!--<span>记住我</span>-->
          <!--</label>-->
          <a class="login-form-forgot" class="login-form-forgot">忘记密码？</a>
          <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'" [disabled]="!signInForm.valid">登录</button>
          或
          <a [routerLink]="['../sign-up']">注册!</a>
        </div>
      </div>
    </form>

  </ng-template>


</nz-root>
