<nz-root>
<h4>欢迎注册使用TJAB仪器管理平台</h4>
<hr>
  <form nz-form [formGroup]="signUpForm" class="form-class" (ngSubmit)="onSubmit()">
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="username" nz-form-item-required>
              <span>
                用户名
                <nz-tooltip [nzTitle]="'用于登录，请认真填写'">
                  <i nz-tooltip class="anticon anticon-question-circle-o"></i>
                </nz-tooltip>
              </span>
        </label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('username')">
        <nz-input [nzSize]="'large'" formControlName="username" [nzId]="'username'"></nz-input>
        <div nz-form-explain *ngIf="getFormControl('username').dirty&&getFormControl('username').hasError('required')">请输入您的用户名（即登录名）!</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="password" nz-form-item-required>密码</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('password')">
        <nz-input [nzSize]="'large'" formControlName="password" [nzType]="'password'" [nzId]="'password'" (ngModelChange)="updateConfirmValidator()"></nz-input>
        <div nz-form-explain *ngIf="getFormControl('password').dirty&&getFormControl('password').hasError('required')">请输入您要设定的密码!</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="checkPassword" nz-form-item-required>确认密码</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('confirm')">
        <nz-input [nzSize]="'large'" formControlName="confirm" [nzType]="'password'" [nzId]="'checkPassword'"></nz-input>
        <div nz-form-explain *ngIf="getFormControl('confirm').dirty&&getFormControl('confirm').hasError('required')">请再次输入您要设定的密码!</div>
        <div nz-form-explain *ngIf="getFormControl('confirm').dirty&&getFormControl('confirm').hasError('check')">两次密码必须一致!</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="email" nz-form-item-required>邮箱</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('email')">
        <nz-input [nzSize]="'large'" formControlName="email" [nzId]="'email'"></nz-input>
        <div nz-form-explain *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('pattern')">不是一个真实有效的邮件格式（重要）!</div>
      </div>
    </div>


    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="phoneNumber" nz-form-item-required>电话号码</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('phone')">
        <nz-input-group [nzSize]="'large'" [nzCompact]="true">
          <nz-select formControlName="phoneNumberPrefix" style="width: 25%;">
            <nz-option [nzLabel]="'+86'" [nzValue]="'+86'"></nz-option>
          </nz-select>
          <input formControlName="phone" id="'phoneNumber'" nz-input style="width: 75%;">
        </nz-input-group>
        <div nz-form-explain *ngIf="getFormControl('phone').dirty&&getFormControl('phone').hasError('required')">请输入您的电话号码!</div>
        <div nz-form-explain *ngIf="getFormControl('phone').dirty&&getFormControl('phone').hasError('pattern')">请输入11位手机号码!</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="lastname" nz-form-item-required>姓氏</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('lastname')">
        <nz-input [nzSize]="'large'" formControlName="lastname" [nzId]="'lastname'"></nz-input>
        <div nz-form-explain *ngIf="getFormControl('lastname').dirty&&getFormControl('lastname').hasError('required')">请输入您的姓氏!</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="firstname" nz-form-item-required>名字</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('firstname')">
        <nz-input [nzSize]="'large'" formControlName="firstname" [nzId]="'firstname'"></nz-input>
        <div nz-form-explain *ngIf="getFormControl('firstname').dirty&&getFormControl('firstname').hasError('required')">请输入您的名字!</div>
      </div>
    </div>
    <div nz-form-item nz-row style="margin-bottom:8px;">
      <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
        <label nz-checkbox formControlName="agree">
          <span>我已经同意此 <a>协议</a></span>
        </label>
      </div>
    </div>
    <div nz-form-item nz-row style="margin-bottom:8px;">
      <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6" >
        <button nz-button [nzSize]="'large'" [nzType]="'primary'" [disabled]="!signUpForm.valid">注册</button>
        <button nz-button [nzSize]="'large'" [nzType]="'default'" type="reset">重置</button>
      </div>
    </div>
  </form>
</nz-root>
